.parallax {
	height: 100vh;
	background-image: url("../images/paris.jpg");
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding-top: 40vh;
}

.middle-site {
	padding-bottom: 5vh;
	padding-top: 5vh;
}